/* --------------------헤더-------------------- */
.h_bg {
    background-color: #FFF;
    border-bottom: 1px solid #AAA;
}
.h_bg header {
    width: 1600px; margin: 15px auto;
}
.h_bg header .h_top {
    display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;
}

.h_bg header .h_top h1 {}
.h_bg header .h_top h1 > a {}
.h_bg header .h_top h1 > a > img {}
.h_bg header .h_top .top_right {}
.h_bg header .h_top .top_right > a {font-size:0.81rem; line-height:1.2; letter-spacing: -0.02rem}
.h_bg header .h_top .top_right > a:first-child {padding-right: 17px;}

.h_bg header .h_btm {
    display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center;
}
.h_bg header .h_btm nav {padding-top: 20px;}
.h_bg header .h_btm nav ul {}
.h_bg header .h_btm nav ul li {float: left; padding-right: 40px;}
.h_bg header .h_btm nav ul li > a {font-size:0.94rem;}
.h_bg header .h_btm .btm_right {}
.h_bg header .h_btm .btm_right > a {width: 18px; display: inline-block;}
.h_bg header .h_btm .btm_right > a:nth-child(2) {margin: 0 15px;}
.h_bg header .h_btm .btm_right > a > img {width: 100%;}

/* --------------------메인배너-------------------- */
main {position: relative;}
main .main_swiper {
    width: 100%; height: 800px; margin-bottom: 100px;
}
main .main_swiper .swiper-wrapper {position: relative;}

/* 슬라이드1 선택자 */
main .main_swiper .swiper-wrapper .slide1 {
    background-image: url(../images/main_bnr.jpg);
}
main .main_swiper .swiper-wrapper .slide1 .contents {
    position: absolute; left: 160px; top: 386px;
}
main .main_swiper .swiper-wrapper .slide1 .contents > p {
    font-size:0.94rem; font-weight:600;
}
main .main_swiper .swiper-wrapper .slide1 .contents .sub_title {
    padding: 10px 0;
    font-size: 1.88rem; font-weight: 600; line-height: 1.6;
}
main .main_swiper .swiper-wrapper .slide1 .contents > .btn_link {
    background-color: #34346A; color: #FFF; padding: 7px 10px;
    font-size:0.81rem; line-height:1.2; letter-spacing: -0.02rem
}
main .main_swiper .swiper-wrapper .slide1 .contents > .btn_link > img {
    padding-left: 20px; 
    position: relative; top: 6px;
}

/* 슬라이드2 선택자 */
main .main_swiper .swiper-wrapper .slide2 {
    background-image: url(../images/main_bnr.jpg);
}
main .main_swiper .swiper-wrapper .slide2 .contents {
    position: absolute; left: 160px; top: 386px;
}
main .main_swiper .swiper-wrapper .slide2 .contents > p {
    font-size:0.94rem; font-weight:600;
}
main .main_swiper .swiper-wrapper .slide2 .contents .sub_title {
    padding: 10px 0;
    font-size: 1.88rem; font-weight: 600; line-height: 1.6;
}
main .main_swiper .swiper-wrapper .slide2 .contents > .btn_link {
    background-color: #34346A; color: #FFF; padding: 7px 10px;
    font-size:0.81rem; line-height:1.2; letter-spacing: -0.02rem
}
main .main_swiper .swiper-wrapper .slide2 .contents > .btn_link > img {
    padding-left: 20px; 
    position: relative; top: 6px;
}

/* 메인슬라이드 스크롤바 */
main .main_swiper .progress {
    position: relative; bottom: 15px; left: 100px;
}
main .main_swiper .progress .swiper-scrollbar {
    width: 1600px; 
}
/* --------------------푸터-------------------- */
footer {background-color: #EBEBEB; padding: 20px 0;}
footer .ft_bg {
    width: 1600px; margin: 0 auto;
}

/* 공통/그룹 선택자 <푸터> */
footer .ft_bg .ft_top > a,
footer .ft_bg .ft_btm .btm_left > ul > li,
footer .ft_bg .ft_btm .btm_left > p,
footer .ft_bg .ft_btm .btm_right .cs_time > p {
    font-size:0.81rem; line-height:1.2; letter-spacing: -0.02rem
}

/* 개별 선택자 <푸터> */
footer .ft_bg .ft_top {
    padding: 0 10px 20px;
    border-bottom: 1px solid #AAA; 
}
footer .ft_bg .ft_top > a {padding-right: 10px;}
footer .ft_bg .ft_btm {
    padding: 40px 10px 0;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
footer .ft_bg .ft_btm .btm_left {}
footer .ft_bg .ft_btm .btm_left > ul {}
footer .ft_bg .ft_btm .btm_left > ul > li {
    display: inline-block; padding-right: 10px;
}
footer .ft_bg .ft_btm .btm_left > ul:nth-child(2) {
    padding: 10px 0 30px;
}
footer .ft_bg .ft_btm .btm_left > p {}
footer .ft_bg .ft_btm .btm_right {
    width: 400px;
}
footer .ft_bg .ft_btm .btm_right .cs_num {}
footer .ft_bg .ft_btm .btm_right .cs_num .cs {
    background: url(../images/ft_logo.png) no-repeat right center;
}
footer .ft_bg .ft_btm .btm_right .cs_num .cs .customer {padding-bottom: 5px;}
footer .ft_bg .ft_btm .btm_right .cs_num .cs > p {font-size:1.13rem; font-weight:500; line-height:1.6;}
footer .ft_bg .ft_btm .btm_right .cs_time {padding: 15px 0;}
footer .ft_bg .ft_btm .btm_right .cs_time > p {}
footer .ft_bg .ft_btm .btm_right .cs_time > p:nth-child(2) {padding: 5px 0;}
footer .ft_bg .ft_btm .btm_right .cs_link {}
footer .ft_bg .ft_btm .btm_right .cs_link > a {
    border: 1px solid #222; padding: 5px 10px;
    font-size:0.94rem; font-weight:600;
}
footer .ft_bg .ft_btm .btm_right .cs_link > .question {margin-right: 15px;}
footer .ft_bg .ft_btm .btm_right .cs_link > .inquiry {}